<h1>ID: {{user.id}}</h1>
<h1>Name: {{user.name}}</h1>
<h1>Username: {{user.username}}</h1>
<h1>Email: {{user.username}}</h1>
<h1>Phone: {{user.phone}}</h1>
<h1>Website: {{user.website}}</h1>
<br>    
<h1>Address</h1>
<h1>Street: {{user.address.street}}</h1>
<h1>Suite: {{user.address.suite}}</h1>
<h1>City: {{user.address.city}}</h1>
<h1>Zipcode: {{user.address.zipcode}}</h1>
<h1>Geo</h1>
<h1>Lat: {{user.address.geo.lat}}</h1>
<h1>Lng: {{user.address.geo.lng}}</h1>
<br>
<h1>Company</h1>
<h1>Name: {{user.company.name}}</h1>
<h1>CatchPhrase: {{user.company.catchPhrase}}</h1>
<h1>BS: {{user.company.bs}}</h1>