$container-size: 200px;

.example-container {
    width: $container-size;
    height: 92vh;
    background-color: white;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: left;
    justify-content: left;
    background-color: transparent;
  }
  
  .example-sidenav {
    padding: 20px;
    background-color: lightgray;
    width: $container-size;
  }

  .example-container ul{
    list-style: none;
    padding: 0;
  }

  .example-container li{
    margin-bottom: 25px;
  }

  .example-container a{
    text-decoration:none;
  }